@inherits LayoutComponentBase
@inject AuthenticationService AuthenticationService
@inject SignInManager<HRMUser> SignInManager
@inject EmployeeService EmployeeService

@using MudBlazor
@using HRM.Components
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using Microsoft.AspNetCore.Identity;
@using HRM.Areas.Identity.Data;

<AuthorizeView>
    <Authorized>
        <div class="page" style="background-color: #dfffff">
            <div class="sidebar" style="background-color: #00ffff">
                <NavMenu />
            </div>
            <MudThemeProvider />
            <MudDialogProvider />
            <MudSnackbarProvider />
            <MudLayout>
                <div class="top-row px-4" style="background-color:#00ffff">
                    <MudText><span class="d-none d-md-inline">Chào, </span>@_nameAccount</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.ExitToApp"
                                   Link="Identity/Account/Logout"
                                   Color="Color.Inherit" />
                </div>
                <MudMainContent>
                    @Body
                </MudMainContent>
            </MudLayout>
        </div>
    </Authorized>
    <NotAuthorized>
        <HRM.Components.Login.LoginRedirect />
    </NotAuthorized>
</AuthorizeView>
@code{
    string _nameAccount;

    protected override async Task OnInitializedAsync()
    {
        var works = AuthenticationService.GetCurrentAccount()?.EmployeeId;

        if (works != null)
        {
            _nameAccount = EmployeeService.GetEmployee((int)works).Name;
        }

    }
}