@inherits LayoutComponentBase
@using MudBlazor

<div class="page" style="background-color: #dfffff">
    <div class="sidebar">
        <NavMenu />
    </div>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</div>
