<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HRM</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <MudNavLink Href="/employee/list-employees">Danh sách nhân viên</MudNavLink>
            <AuthorizeView Roles="Admin">
                <Authorized Context="admin">
                    <MudNavGroup Title="Quản lý" Style="color:white">
                        <MudNavGroup Title="Nhân viên" Style="color:white">
                            <MudNavLink Href="/management/employees">Nhân sự</MudNavLink>
                        </MudNavGroup>
                        <MudNavLink Href="/management/configuration">Cấu hình</MudNavLink>
                        <MudNavLink Href="/Identity/Account/Register">Tạo tài khoản</MudNavLink>
                    </MudNavGroup>
                </Authorized>
            </AuthorizeView>


        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
