@page "/employee/list-employees"

@inject EmployeeService EmployeeService
@attribute [Authorize(Roles = "Admin,User")]

<div class="container">
    <EmployeeGridTable ListEmployee="_listEmployee"/>
</div>

@code {
    private List<Employee> _listEmployee;

    protected override void OnInitialized()
    {
        _listEmployee = EmployeeService.GetAll();
    }
}
