@page "/register"

@inject HRM.Services.AccountService AccountService
@using HRM.Models
@using MudBlazor

<div>
    <EditForm>
        
    </EditForm>
</div>

@code {
    Account account = new Account();
}
